@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
/*------------- top section style start------------- */
.top-section
{

    display: flex;
    justify-content: center;
}
.container
{   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#2D25A0;  
    padding: 100px;
    /* flex-direction: column; */
}
.section-title
{
    font-size: 64px;
    margin-bottom: 20px;
    color:#fff;
}
.banner img
{
    width:556px;
    height:438px;
}
.btn
{
    text-decoration: none;
    background: #E02C6D;
    color:#FFFFFF;
    padding:10px 24px;
    transition: 1s;
    border-radius: 5px;
    letter-spacing: 1px;
}

.top-section:hover
{
    transform: skewX(10deg);
    transition:1s;
}
.fa-arrow-right.forward
{
    padding: 8px;
}
/*------------- top section style end------------- */
main
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* -------------player section style start------ */
.top-players
{
    /* width: 800px; */
    padding-top: 30px;
}
.players
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.player
{
    margin:5px;
    width:280px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding:10px;
}
.player img
{
    width:100%;
    height: 256px;
}
.player p
{
    font-size: 10px;
    color: #6C6C6C;
   
}
/* -------------player section style end------ */

/* ------------highlights section style start----- */
.top-highlights
{
    width:800px;
    padding: 100px 0;
   
}
.highlights
{
    display: flex;
}
.half-width
{
    width:50%;
}
.half-width img
{
    width:100%;
}
.highlights-info
{
margin-bottom: 20px;
}
/* ------------highlights section style end----- */

/* ---------------footer style start---------------- */
.footer-div
{
   margin-bottom: 50px;
}
.footer-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img
{
  width:100%;
}
.social-icon
{
    font-size: 14px;
    color: #969BAB; 
    text-align: center;
}
.icon-style
{
    margin:7px;
}
.copyright
{
    padding-top: 10px;
}
/* ---------------footer style end---------------- */

/* ------------------media query for mobile device start-------------------- */
@media only screen and (max-width:688px) 
{
    .container
    {
        flex-direction: column;
        padding: 100px 0;
    }
    .section-title
    {
        padding:0;
        font-size: 30px;
    }
    .banner img 
    {
        margin-top: 20px;
        width:325px;
    }
   .players
   {
       grid-template-columns: repeat(1,1fr);
       justify-items: center;
   }
   .top-highlights
   {
       width:100%;
   }
   .highlights
   {
       flex-direction: column;
       align-items: center;
   }
   .footer-div
   {
      
       align-items: center;
   }
 
} 
/* ------------------media query for mobile device end-------------------- */

/* ---------------------media query for table start------------------------ */
@media only screen and (min-width:668px) and (max-width:992px)
{
    .container
    {
        flex-direction: row;
    
    }
    .players
   {
       grid-template-columns: repeat(2,1fr);
       
   }
   .highlights
   {
       flex-direction: row;
   }
   .footer-div
   {
       align-items: center;
   }
}
/* ---------------------media query for table end------------------------ */